<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">-->
<!--&lt;!&ndash; Sharing Code - xxxx &ndash;&gt;-->
<!--<div th:if="${sessionCode != ''}" id="sharing-link" th:fragment="sharing-link" class="flex-1 mb-3.5 items-center text-2xl" hx-swap-oob="true">-->
<!--    <p class="text-gray-500">Sharing Link - <span class="font-bold text-accent">-->
<!--        <a th:href="@{/{sharing-code}}" th:text="'qhare.io/' + ${sessionCode}">qhare.io/qmrg</a></span>-->
<!--    </p>-->
<!--</div>-->

<!--</html>-->