<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<main layout:fragment="content" class="container mt-10 flex justify-center">
    <div class="max-w-2xl w-full">
        Welcome to our application
    </div>
</main>


<th:block layout:fragment="script-content">
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) -->

</th:block>
</body>
</html>

